#contact {
  // padding-bottom: 3rem;
  .centre_information {
    text-align: center;
    padding-bottom: 3rem;
    img {
      max-width: 200px;
      padding-bottom: 10px;
    }

    .address {
      font-size: 24px;
      font-weight: 500;
    }

  }
  h2 {
    color: $primary;
  }


}

#contact_form {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $primary;

  .form-wrap {
    width: 60%;
    margin: 1.5rem auto;

    @include mobile {
      width: 80%;
    }
  }

  .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h1.title.has-lines {
    &:before {
      border-bottom: 0.25rem solid white;
    }

    &:after {
      border-bottom: 0.25rem solid white;
    }
  }

  .textarea {
    height: 100%;
  }

  .button {
    &:hover {
      background-color: whitesmoke;
      color: $primary;
    }
  }
}
