#don {
  background-color: whitesmoke;
  .content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    text-align: center;

  }

  .cc-badges {
    display: block;
    max-width: 200px;
    padding-top: 10px;
  }

  p {
    font-size: 22px;
  }


}
