#don {
  background-color: whitesmoke;

  .content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;

  }

  .cc-badges {
    display: block;
    max-width: 200px;
    padding-top: 10px;
  }

  p {
    font-size: 22px;
  }

  .homepage_image {
    background-size: cover;
    background-image: image-url("don.png");
    height: 100%;
    width: 100%;
  }


}
