#home {
  min-height: calc(100vh - #{$navbar-height});

  #accueil {
    min-height: calc(100vh - #{$navbar-height});
  }
}

#transbordement {
  min-height: 100vh;

  .content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  img {
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 50vh;
    height: 100%;
    max-height: 100vh;
  }
}

#distribution {
  min-height: 100vh;

  figure.image {
    margin-left: 0;
    margin-right: 0;
  }
}
