#home {
  min-height: calc(100vh - #{$navbar-height});

  #accueil {
    min-height: calc(100vh - #{$navbar-height});
  }

  h1.title {
    @include mobile {
      font-size: 2.25rem !important;
      padding-bottom: 0px;
    }
  }

  h2 {
    font-size: 1.5rem;
  }
}

#don {
  h1.title {
    @include mobile {
      font-size: 2.25rem !important;
      padding-bottom: 0px;
    }
  }
}

#contact {
    h1.title {
      @include mobile {
        padding-bottom: 1.5rem;
    }
  }
}

#transbordement {
  background-color: whitesmoke;
}

#transbordement, #mission {
  h1.title {
    font-size: 2.5rem;
  }

  min-height: 100vh;

  .content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include mobile {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  img {
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100vh;
    height: 100%;
    max-height: 100%;

    @include mobile {
      display: none;
    }
  }

  .columns {
    min-height: 100vh;
  }

  .column {
    display: flex;
  }
}

#distribution {
  min-height: 100vh;

  figure.image {
    margin-left: 0;
    margin-right: 0;
  }

  h1.title {
    @include mobile {
      margin-top: 0;
    }
  }
}

#about {
  .column {
    display: flex;
  }

  .padding-box {
    background-size: cover;
    background-position: 50% 50%;
    background-color: $dark;
    background-blend-mode: overlay;

    h2.subtitle {
      font-size: 1.75rem;
      font-weight: 650;
      text-shadow: 1px 1px rgba($light, 0.5);
    }

    p {
      font-size: 1.25rem;
      font-weight: 450;
      text-shadow: 1px 1px rgba($light, 0.5);
    }
  }

  #reduce {
    background-image: image-url('reduce.png');
  }

  #reuse {
    background-image: image-url('reuse.png');
  }

  #recycle {
    background-image: image-url('recycle.png');
  }
}

#help {
  background-image: image-url('help.png');
  background-size: cover;
  background-position: 50% 50%;
}

#mission {
  background-color: whitesmoke;
}


.navbar-item {
  font-weight: 600;
  // text-transform: uppercase;
}
