%section.section.has-background-primary#about
  .container
    .content
      %h1.title.has-text-centered.has-text-white.has-lines
        À PROPOS DE NOUS

      .columns
        .column
          .padding-box
            %h2.subtitle.has-text-centered.has-text-white RÉDUCTION
            %p.has-text-light
              Nous vivons dans une société de surconsommation et d'abondance. Nous
              nous efforçons d'éduquer les gens à une meilleure gestion de leur
              consommation; ce qui commence par la réduction de cette même
              consommation.

        .column
          .padding-box
            %h2.subtitle.has-text-centered.has-text-white RÉDUCTION
            %p.has-text-light
              Nous priorisons le réemploi de la matière bien avant le recyclage.
              Le coût énergétique du recyclage dépasse largement les coûts
              énergétiques reliés au réemploi. Ce dernier est une cause à effet de
              réduction de la consommation.

        .column
          .padding-box
            %h2.subtitle.has-text-centered.has-text-white RÉDUCTION
            %p.has-text-light
              En fin de vie, les différents objets traités chez 3R trouvent
              souvent leur place dans le recyclage plutôt qu'à l'enfouissement.
              Voila la fin de la boucle du cycle 3R.
