%section.section#contact
  .container
    .content
      %h1.has-text-primary.title
        CONTACT

      %p
        %strong
          Dépôt d'encombrants (RENDEZ-VOUS SEULEMENT)

      %p
        NOUS N'ACCEPTERONS PLUS LES DÉPÔTS DE MEUBLES/MATELAS.

      %p
        MERCI DE VOTRE COLLABORATION ET VOTRE SUPPORT!

      %p
        %strong
          3R Québec Inc

      %p
        CENTRE DE TRANSBORDEMENT: 600 Maloney Est (Pépinière Emery), Gatineau, Qc
      %p
        CENTRE DE TRIAGE ALIMENTAIRE: 380 Notre Dame, Gatineau
      %p
        CENTRE DE DISTRIBUTION ALIMENTAIRE : 373-A Notre Dame, Gatineau, Qc

      %p
        %a{href: 'tel:8196358899'} (819) 635-8899

      %p
        %strong
          Heures d'ouverture du centre
