%section.section#contact
  .container
    .content.has-text-centered
      %h1.has-text-primary.title
        CONTACT

      %h2.subtitle Dépôt d'encombrants (RENDEZ-VOUS SEULEMENT)

      %p NOUS N'ACCEPTERONS PLUS LES DÉPÔTS DE MEUBLES ET MATELAS.

      %p MERCI DE VOTRE COLLABORATION ET VOTRE SUPPORT!

      %h2.subtitle 3R Québec Inc

      .box.has-text-left{style: 'width: 60%; margin: 1.5rem auto'}
        %p
          %strong CENTRE DE TRANSBORDEMENT
          &nbsp;:&emsp;
          600 Maloney Est (Pépinière Emery), Gatineau, Qc

        %p
          %strong CENTRE DE TRIAGE ALIMENTAIRE
          &nbsp;:&emsp;
          380 Notre Dame, Gatineau

        %p
          %strong CENTRE DE DISTRIBUTION ALIMENTAIRE
          &nbsp;:&emsp;
          373-A Notre Dame, Gatineau, Qc

      %p
        %a{href: 'tel:8196358899'} (819) 635-8899

      %p
        %strong
          Heures d'ouverture du centre
