%section.section.has-background-primary#help
  .container
    .content
      %h1.title.has-text-centered.has-text-white.has-lines
        Aide recherchée

      %p.has-text-centered.has-text-light
        Vous voulez supporter la cause de 3R Québec, vous impliquer et venir
        aider des familles dans le besoin? Laissez-nous votre courriel pour
        recevoir de plus amples informations sur la façon dont vous pouvez faire
        une différence!

      .field.is-grouped
        .control.is-expanded
          %input.input{type: 'email', placeholder: 'Email'}
        .control
          %input.button.is-primary{type: 'submit', value: 'JE VEUX AIDER!'}
