%section.section.is-paddingless#transbordement
  .columns.is-marginless
    .column.is-paddingless
      .content
        %h1.has-text-primary.title
          Encombrants acceptés au centre de transbordement de 3R&nbsp;:
        %ul
          %li Appareils électriques ou à pile
          %li Appareils informatiques, imprimantes, cartouches d'encre (dans un sac)
          %li Téléphones Cellulaires & accessoires
          %li Fils, câblage, lumières de noël, piles, batteries
          %li Métaux ferreux et non ferreux
          %li Canettes, bouteilles consignées, bouteilles de vin
          %li Outils, quincaillerie, plomberie
          %li Vêtements, souliers, literie, ceinture
          %li Bijoux, montres, accessoires
          %li Articles de maison (rideau, cadres, tapis, instruments de musique, décoration, etc)
          %li Vaisselle, ustensil, poêles, chaudrons
          %li Jouets, jeux, articles scolaires
          %li Article de bébé,siège de voiture, poussette
          %li Articles de sport

        %p.has-text-centered
          %strong
            VEUILLEZ NOTER QUE NOUS N'EFFECTUONS PLUS DE RAMASSAGES À DOMICILE
            POUR LES PARTICULIERS.

        %p.has-text-centered
          %strong
            POUR LE RAMASSAGE DE VOS GROS ENCOMBRANTS, VEUILLEZ COMMUNIQUER AVEC
            LE
            %br/
            %a{href: 'tel:311'}
              %i.fas.fa-phone
              3-1-1

        %p.has-text-centered
          %strong
            POUR TOUT AUTRE DEMANDE, SVP COMMUNIQUEZ AVEC NOUS
            %br/
            %a{href: 'tel:8196358899'}
              %i.fas.fa-phone
              819-635-8899

    .column.is-paddingless
      = image_tag 'transbordement.png'
