%section#rendez-vous
  .container
    .content
    %p#notice= notice
    %h1.title.has-text-primary.has-text-centered.has-lines
      VOTRE RENDEZ-VOUS A ÉTÉ AJOUTÉ À L'HORAIRE
    %p
      À bientôt!

    = link_to 'Retour', bookings_path
