%section#rendez-vous-form
  .container
    .content
      %p#notice= notice
      %h1.title.has-text-primary.has-text-centered.has-lines
        NOUVEAU RENDEZ-VOUS
      = render partial: 'form', locals: { booking: @booking }
      = link_to 'Retour', bookings_path
