%footer.footer.has-background-black
  .content.has-text-centered
    %p.has-text-light
      = link_to 'https://www.facebook.com/3rquebec' do
        %i.fab.fa-facebook
        &nbsp;
        Suivez-nous sur Facebook!
    %p.has-text-light Copyright &copy; 2020 3R Québec inc. Tous droits réservés.
    %small.has-text-light Fait avec ❤️ par #{link_to 'Gauthier logiciel enr.', 'https://gauthier.software'}
