%section.section.is-paddingless#maps
  .overlay{:onclick => "style.pointerEvents='none'"}
  %iframe{:src => "https://www.google.com/maps/d/embed?mid=1y3Ouzfc8hOv2Jw6olTHXEpft6iNOb_F_", :width => "100%"}
