%section.section.is-paddingless#mission
  .columns.is-marginless
    .column.is-paddingless
      .content
        %h1.has-text-primary.title
          MISSION ET OBJECTIFS

        %h2.subtitle MISSION

        %ul.font-22
          %li
            Participer à la réduction des déchets voués à l'enfouissement

          %li
            Récupérer des objets autrement voués à l'élimination dans le but de
            valoriser par le réemploi ou le recyclage

          %li
            Supporter nos partenaires et nos organismes à but non lucratifs
            locaux dans leurs opérations

        %h2.subtitle OBJECTIFS

        %ul.font-22
          %li
            Valoriser au moins 85% des matières recupérées

          %li
            Offrir des articles gratuits pour nos organismes à but non lucratifs
            locaux

          %li
            Réduire les tonnes de matières résiduelles vouées à l'enfouissement

          %li
            Créer des emplois

    .column.is-paddingless
      = image_tag 'mission.png'
